*.class

# Package Files #
*.war
*.ear

# Eclipse (project and classpath files are currently included)
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.class

# Local configuration file (sdk path, etc)
local.properties
.settings/
.metadata

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


# Windows & Mac stuff

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac custom attributes
.DS_Store